.section {
  text-align: center;
  padding: 50px 80px;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.section-trans {
  background-color: transparent;
  color: #ddd;
}

.border {
  background-color: #000;
  color: #fff;
  padding: 20px 80px;
  margin: 10px;
}

.border.trans {
  background-color: transparent;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-25 {
  margin-top: .25em;
}

.mb-25 {
  margin-bottom: .25em;
}

.mt-50 {
  margin-top: .5em;
}
  
.mb-50 {
  margin-bottom: .5em;
}

.mt-75 {
margin-top: .75em;
}

.mb-75 {
  margin-bottom: .75em;
}

.center {
  justify-content: center;
}



/* ABOUT */
.about-container {
  display: grid;
  grid-gap: 0;
  grid-template-areas:
  'box-a box-b'
}

.box-a, .box-b {
  display: grid;
  justify-items: center;
  box-shadow: var(--shadow);
  padding:15%;
}

.box-a {
  background: var(--primary);
}

.box-b {
  background: var(--dark);
}

.bio, .skills {
  text-align: center;
  letter-spacing: 3px;
  line-height: 1.5;
}


/* PORTFOLIO */
.portfolio {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img {
  /* width: 100%; */
  /* box-shadow: var(--shadow); */
  background: #fff;
  border-radius: 2px;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.portfolio img:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 0 4px 4px 2px #999, 0 4px 4px 2px #999;
}

/* CONTACT */

.contact-container {
  text-align: center;
  padding: 50px 80px;
  max-width: 1000px;
}

input[type=text], select, textarea {
  background-color: var(--lightgray);
  color: var(--mediumgray);
  width: 100%;
  padding: 12px;
  border: 1px solid var(--lightgray);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=email], select, textarea {
  background-color: var(--lightgray);
  color: var(--mediumgray);
  width: 100%;
  padding: 12px;
  border: 1px solid var(--lightgray);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: var(--primary);
  color: var(--mediumgray);
  color: var(--dark);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.cbtn {
  position: absolute;
  top: 85%;
  width: 100%;
  text-align: center;
  color: var(--light);
  background-color: transparent;
  font-size: 30px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.cbtn .border{
  background-color:#111;
  color:#fff;
  padding-top:20px;
  padding-bottom:20px;
  padding-left:100px;
  padding-right:100px;
}

footer {
  background-color:#111;
  color:#fff;
  width: 100%;
  justify-content: center;
}